<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/admin/app.css" />
    <script src="/assets/js/admin/index.js"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="page-wrapper">
        <%- include('../../partials/admin-sidebar') %>
            <div class="page-container">
                <%- include('../../partials/admin-navbar') %>
                    <div class="content-wrapper">
                        <div class="d-flex justify-content-between align-items-center content-header">
                            <div class="d-flex align-items-center select-number">
                                <span>Show</span>
                                <form action="post">
                                    <select name="" id="">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                </select>
                                </form>
                            </div>
                            <a href="/admin/house/add">
                                <button class="btn btn-primary button-add">Thêm mới</button>
                            </a>
                        </div>
                        <div class="d-flex align-items-center">
                            <span>Search</span>
                            <form action="">
                                <input type="text" placeholder="" />
                            </form>
                        </div>
                        <% if ( houses.length> 0) { %>

                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Hình ảnh</th>
                                        <th scope="col">Tên</th>
                                        <th scope="col">Tên(English)</th>
                                        <th scope="col">Loại</th>
                                        <th scope="col">Ngày tạo</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% houses.forEach((house, index)=> { %>
                                        <tr>
                                            <th scope="row">
                                                <%= house.id %>
                                            </th>
                                            <td>
                                                <img src="<%= house.img  %> " alt="img-house" class="img-post" />
                                            </td>
                                            <td>
                                                <%= house.name %>
                                            </td>
                                            <td>
                                                <%= house.name_en %>
                                            </td>
                                            <td>
                                                <% if (house.type==0) { %>
                                                    <span>Nổi bật</span>

                                                    <% } else { %>
                                                        <span>Bình thường</span>
                                                        <% } %>
                                            </td>
                                            <td>
                                                <%= house.created_at %>
                                            </td>
                                            <td>
                                                <a href="/admin/house/update/<%= house.id  %>">
                                                    <button class="btn btn-success">Sửa</button>
                                                </a>

                                                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#delete-house-modal" data-id="<%= house.id %> ">
                    Xoá
                  </button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                            <% } else { %>
                                <p>No datas</p>
                                <% }%>
                                    <!-- Delete Modal -->
                                    <div class="modal fade" id="delete-house-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                        Xoá bài viết?
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Xoá bài viết sẽ không thể khôi phục.</p>
                                                    <p>Bạn chắc chắn muốn xoá?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Huỷ
                  </button>
                                                    <button type="button" class="btn btn-danger" id="btn-delete-house">
                    Xác nhận
                  </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Form Delete Hidden -->
                                    <form name="delete-house-form" method="POST"></form>
                    </div>
            </div>
    </div>
</body>
<script src="/assets/js/admin/house.js"></script>
<script>
</script>

</html>