<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/admin/app.css">
    <!-- <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"> -->
    <script src="/assets/js/admin/index.js"></script>
    <script src="/assets/js/admin/house.js"></script>
    <script src="/assets/js/admin/editor.js"></script>
    <!-- <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> -->

    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="page-wrapper">
        <%- include('../../partials/admin-sidebar') %>
            <div class="page-container">
                <%- include('../../partials/admin-navbar') %>
                    <div class="content-wrapper">
                        <h2>Chỉnh sửa căn hộ</h2>
                        <hr>
                        <% if (house) { %>
                            <form action="/admin/house/update/<%= house.id %>?_method=PUT" method="POST" class="d-flex house-add-wrapper" name="form-update">
                                <div class="d-flex flex-column column-left">
                                    <label class="input-label">Tên căn hộ</label>
                                    <input type="text" name="name" required value="<%= house.name %>">
                                    <label class="input-label">Tên căn hộ (English)</label>
                                    <input type="text" name="name_en" required class="input-default input-md" value="<%= house.name_en %>">
                                    <label class="input-label">Slug</label>
                                    <input type="text" name="slug" required placeholder="can ho 1" class="input-default input-md" value="<%= house.slug %>">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-column">
                                            <label class="input-label">Số người</label>
                                            <input type="number" placeholder="1" name="person" class="input-default input-xs" value="<%= house.person %>">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label class="input-label">Phòng</label>
                                            <input type="text" placeholder="1" name="room" class="input-default input-xs" value="<%= house.room %>">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label class="input-label">Diện tích m2</label>
                                            <input type="number" placeholder="10" name="area" class="input-default input-xs" value="<%=house.area %>">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label class="input-label">Phòng tắm</label>
                                            <input type="text" placeholder="1" name="bathroom" class="input-default input-xs" value="<%= house.bathroom %>">
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-column">
                                            <label class="input-label">Giá</label>
                                            <input type="number" name="price" class="input-default input-sm" value="<%=house.price %>">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label class="input-label">Giá cũ</label>
                                            <input type="number" name="price_old" class="input-default input-sm" value="<%=house.price_old %>">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label class="input-label">Hạng sao</label>
                                            <select class="input-default input-sm">
                                            <option value="" disabled selected>Hạng sao...</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-column">
                                            <label class="input-label">Tỉnh thành</label>
                                            <select name="province_id" class="input-default input-sm" id="update-province">
                                                <option value="" disabled selected>Tỉnh thành</option>
                                                <% for (let i = 0; i < provinces.length; i++) 
                                                    {
                                                        const province = provinces[i];
                                                        const provinceID = province.id
                                                        let selected = ( provinceID == house.province_id ) ? "selected" : "";
                                                %>
                                                    <option value="<%=province.id%>" <%=selected%>><%=province._name%></option>
                                                <%
                                                } 
                                                %> 
                                            </select>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label class="input-label">Quận/huyện</label>
                                            <select name="district_id" class="input-default input-sm" id="update-district">
                                            <option value="" disabled selected>Quận/huyện</option>
                                            <% for (let i = 0; i < districts.length; i++) 
                                                {
                                                    const district = districts[i];
                                                    const districtID = district.id
                                                    let selected = ( districtID == house.district_id ) ? "selected" : "";
                                            %>
                                                    <option value="<%=district.id%>" <%=selected%>><%=district._name%></option>
                                            <%
                                                } 
                                            %> 
                                            </select>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <label class="input-label">Phường/xã</label>
                                            <select name="ward_id" class="input-default input-sm" id="update-ward">
                                            <option value="" disabled selected>Phường/xã</option>
                                            <% for (let i = 0; i < wards.length; i++) 
                                                {
                                                    const ward = wards[i];
                                                    const wardID = ward.id
                                                    let selected = ( wardID == house.ward_id ) ? "selected" : "";
                                            %>
                                                    <option value="<%=ward.id%>" <%=selected%>><%=ward._name%></option>
                                            <%
                                                } 
                                            %> 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label class="input-label">Địa chỉ chi tiết</label>
                                        <input type="text" name="address" class="input-default" value="<%= house.address %>">
                                    </div>
                                </div>
                                <div class="d-flex flex-column column-right">
                                    <div class="d-flex flex-column">
                                        <label class="input-label">Loại hiển thị</label>
                                        <select name="" id="" class="input-default input-xs">
                                        <option value="" disabled selected>Loại hiển thị</option>
                                    </select>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label class="input-label">Loại căn hộ</label>
                                        <select name="" id="" class="input-default input-xs">
                                        <option value="" disabled selected>Loại căn hộ</option>
                                    </select>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label class="input-label">Loại nhà</label>
                                        <select name="" id="" class="input-default input-xs">
                                        <option value="" disabled selected>Loại nhà</option>
                                    </select>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label class="input-label">Cho thuê mấy tháng</label>
                                        <input type="text" name="month" required class="input-default" value="<%= house.month %>">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label class="input-label">Tiện nghi căn hộ</label>
                                        <input type="text" name="convenient_id" required class="input-default">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label class="input-label">Đặt cọc</label>
                                        <select name="" id="" class="input-default input-xs">
                                        <option value="" selected disabled>Đặt cọc...</option>
                                    </select>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label class="input-label">Hình ảnh</label>
                                        <input type="text" name="img" required class="input-default" value="<%= house.img %>">
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label class="input-label">Miêu tả ngắn</label>
                                        <textarea name="description" placeholder="Miêu tả ngắn" class="textarea-default"><%= house.description %></textarea>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <label class="input-label">Miêu tả ngắn (English)</label>
                                        <textarea name="description_en" placeholder="Miêu tả ngắn (English)" class="textarea-default"><%= house.description_en %></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="submit-update">Cập nhật</button>
                                </div>
                            </form>
                            <% } else { %>
                                <p>No datas</p>
                                <% } %>

                    </div>
            </div>
    </div>
</body>

</html>