<!-- BANNER -->
<div class="container-fluid banner ">
    <div class="row ">
        <div class="col-10 m-auto">
            <h1 class="text_1 ">“베트남 아파트, 이제 아파딩에서 찾는다”</h1>
            <h3 class="text_2 ">쉽고 빠르고 정확한 베트남 부동산 중개 매칭 서비스</h3>
        </div>
    </div>
    <div class="container d-none d-md-block">
        <div class="row ">
            <div class="option_search col-md-9 col-12 ">
                <div class="part_up ">
                    <div class="one_part ">
                        <!-- 3 trường lọc -->
                        <% for( let index=0; index < 3; index++ ) { %>
                        <div class="one_option ">
                            <div class="label ">
                                <img src="./img/ba chaasm.png " alt=" ">
                                <div class=" ">Thành phố muốn thuê</div>
                            </div>
                            <div class="selection ">
                                <select name="city " id="city ">
                                    <% for( let index=0; index < 3; index++ ) { %>
                                    <option value="1 ">Hà nội</option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <div class="one_part ">
                        <!-- 3 trường lọc -->
                        <% for( let index=0; index < 3; index++ ) { %>
                        <div class="one_option ">
                            <div class="label ">
                                <img src="./img/ba chaasm.png " alt=" ">
                                <div class=" ">Thành phố muốn thuê</div>
                            </div>
                            <div class="selection ">
                                <select name="city " id="city ">
                                    <% for( let index=0; index < 3; index++ ) { %>
                                    <option value="1 ">Hà nội</option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="part_down ">
                    <!-- checkbox về nội thất và xuất hóa đơn -->
                    <% for( let index=0; index < 2; index++ ) { %>
                    <div class="one_option ">
                        <div class="label width ">
                            <img src="./img/ba chaasm.png " alt=" ">
                            <div class=" ">Kiểu nhà muốn thuê</div>
                        </div>
                        <div class="width ">
                            <input type="radio" name="interior" id=" ">
                            <span>Đầy đủ nội thất</span>
                        </div>
                        <div class="width">
                            <input type="radio" name="interior" id=" ">
                            <span>Nội thất cơ bản</span>
                        </div>
                    </div>
                    <% } %>
                </div>
                <button class="find " type="submit ">Tìm kiếm</button>
                <div class="btn-group option_check " role="group " aria-label="Basic example ">
                    <!-- Lựa chọn bán hay thuê -->
                    <% for( let index=0; index < 2; index++ ) { %>
                    <button type="button " class="btn btn_check btn_1 ">Bán</button>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex d-md-none search_box p-0">
        <div class="row m-auto">
            <div class="selection_box ">
                <select name=" " id=" ">
                    <% for( let index=0; index < 3; index++ ) { %>
                    <option value="1 ">Hà nội</option>
                    <% } %>
                </select>
            </div>
            <div class="search">
                <input type="text " placeholder="찾으시는 아파트, 위치 입력하세요">
                <button type="submit " class="sub "><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- END BANNER -->

<!-- Content -->
<main>
    <div class="container part_1 ">
        <div class="row ">
            <div class="title ">
                <img src="./img/icon_6.png " alt=" ">
                <h3>가성비 좋은 추천임대</h3>
            </div>
        </div>
        <div class="row list_house">
            <!-- List căn hộ -->
            <%if(apartments){ %>
            <% for( let index=0; index < apartments.length; index++ ) { %>
            <div class="one_house ">
                <div class="image ">
                    <img src="./img/house.png " alt=" ">
                    <img src="./img/icon_7.png " alt=" " class="heart ">
                    <a href=" " class="video ">
                        <img src="./img/icon_13.png " alt=" ">
                    </a>
                </div>
                <a href="" class=" ">
                    <div class="name ">
                        <i class="fas fa-home"></i>
                        <span class="name_house "><%=apartments[index].name%></span>
                    </div>
                    <div class="address ">
                        <i class="fas fa-map-marker-alt"></i>
                        <span class="address_house "><%=apartments[index].address%></span>
                    </div>
                    <div class="infor ">
                        <div class="price ">
                            <i class="fas fa-dollar-sign"></i>
                            <span class="price_house "><%=apartments[index].price%></span>
                        </div>
                        <div class="area ">
                            <i class="fas fa-chart-line"></i>
                            <span class="area_house "><%=apartments[index].area%>m2</span>
                        </div>
                        <div class="car ">
                            <i class="fas fa-car-alt"></i>
                            <span class="car_house "><%=apartments[index].room%></span>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
    
</main>